# Python virtual environments
venv/
Student_Performance_Management_System/venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code settings
.vscode/
Day_2/.vscode/
# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/